header {
    background-image: none;
    height: 10vh;
}
.borhan-bg1  {
    background-image: linear-gradient(90deg, #5b595fa6 0%, #29292bb0 35%, #2f322da1 100%), url(../image/borhan/3.jpg);
 }
 .borhan-bg2 {
    background-image: linear-gradient(90deg, #5b595fa6 0%, #29292bb0 35%, #2f322da1 100%), url(../image/borhan/8.jpg);
 }