header {
    background-image: none;
    height: 10vh;
}
.piyal-bg1  {
    background-image: linear-gradient(90deg, #5b595fa6 0%, #29292bb0 35%, #2f322da1 100%), url(../image/piyal/26.jpg);
 }
 .piyal-bg2 {
    background-image: linear-gradient(90deg, #5b595fa6 0%, #29292bb0 35%, #2f322da1 100%), url(../image/piyal/13.jpg);
 }